# AppVeyor template for FiveM and ScriptHookVDotNet modifications
# (C) 2018-2019 Hannele Ruiz
# Released under MIT

# This should be changed after every major release
version: "2.2.0.{build}"
# The AppVeyor image to use, usually the most up-to-date
image: Visual Studio 2017

# Store here the NuGet token
environment:
  NUGET:
    secure: o1pJ8GwksHwZJitWvaMX3CjRgrfPKs+Ld2uTm31NcZtKwqojU7GYCW1t+1eCVaDU

# Send a Discord notification to notify the build progress
notifications:
  - provider: Webhook
    url:
      secure: RQOjbD0a6023xZNVZ7zzk7PjRpoF448yAGSM8koDLhmkmzUM5yPCgmaad8aJqIs8RUNIyviWWVKgyVoHDnXu54LGOTNVOCWgVLopKG8FA/Ofnc/R3wb8e0Y1VLME2TDc4OyE8nUxd78/lJY7qiz0pR1OZDgDregNYwczlizdDJNHSumbS17VNKQygVqdwoqd

# Assembly patching: Change the Product Version and File Version
assembly_info:
  patch: true
  file: Properties\AssemblyInfo.cs
  assembly_version: "{version}"
  assembly_file_version: "{version}"

# Some simple stuff: If this is a tag, use the tag without the v at the start as our version
init:
  - nuget setApiKey %NUGET%
  - ps: if ($env:APPVEYOR_REPO_TAG -eq "true") { Update-AppveyorBuild -Version "$($env:APPVEYOR_REPO_TAG_NAME.TrimStart("v"))" }

# During the install, restore Git Submodules and NuGet Packages
install:
  - git submodule update --init --recursive
  - nuget restore %APPVEYOR_PROJECT_NAME%.sln

# On my projects, the Solution name is equal to the Project/Repo name
# So build the Solution File that is called just like the repo
build_script:
  - msbuild %APPVEYOR_PROJECT_NAME%.sln /t:Build /p:Configuration=Release
  - nuget pack %APPVEYOR_PROJECT_NAME%\%APPVEYOR_PROJECT_NAME%.nuspec

# After the build, package the output files from the release folder
# REMEMBER: Set the output location to "..\bin\Debug\" and "..\bin\Release\"
after_build:
  - 7z a %APPVEYOR_PROJECT_NAME%.7z %APPVEYOR_BUILD_FOLDER%\bin\Release\*
  - appveyor PushArtifact %APPVEYOR_PROJECT_NAME%.7z
  - ps: if ($env:APPVEYOR_REPO_TAG -eq "true") { nuget push *.nupkg -Source https://api.nuget.org/v3/index.json }

# During tags, deploy the 7zip file(s) to GitHub Releases
deploy:
  release: v$(APPVEYOR_BUILD_VERSION)
  provider: GitHub
  auth_token:
    secure: "DkvKC8KRj8AipGu/oWW/J2e6jMWt2xXQfKU7oefFMsp0ZMfzz+OR9Y9XpML+ZmG4"
  artifact: /.*\.7z/
  draft: false
  prerelease: false
  on:
    branch: master
    appveyor_repo_tag: true
